header {
    background-image:url("images/header.jpeg");
    text-align: center;
    background-size: cover;
    height:500px;
    color:grey;
    vertical-align:middle;

}
.jumbotron {
    text-align: center;
}
.display-4 {
    text-transform: uppercase;
}
.cc{
    text-align: center;
}
.ce{
    text-align: center;
}
h4{
    text-align: center;
}

footer {
    text-align: center;
    background-color: black;
    color:white;
}
