header {
    background-image:url("images/header.jpeg");
    text-align: center;
    background-size: cover;
    height:500px;
    color:white;
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */


}
.jumbotron {
    text-align: center;
}
.display-4 {
    text-transform: uppercase;
}
.cc{
    text-align: center;
}
.ce{
    text-align: center;
}
h6{
    text-transform: uppercase;
}
h4{
    text-align: center;
}

footer {
    text-align: center;
    background-color: black;
    color:white;
}
body {
    font-family: 'Titillium Web', sans-serif;
}
.col-md-4{
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */
}
footer{x;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top: 20px;
}
